{% extends 'layout.html' %}

{% block title %}
    About Us
{% endblock  %}

{% block content %}
    <h1>About Us</h1>
    <p>The application has been developed to help people and pets finding each other.
        If you consider giving a dog up for adoption or maybe you come accross a lost or abandoned pet,
        create an account and fill out the surrender form.
    </p>
    <p>
        If you are interested in finding an ideal furry match,
        see the  Adopt a Pet section for a full list of pets. Find out who needs a home.
    </p>
{% endblock %}