{% extends 'layout.html' %}

{% block title %}
    About Us
{% endblock  %}

{% block content %}
    <h1>About Us</h1>
    <p>The application has been developed to help people and pets finding each other.
        If you consider giving a dog up for adoption or maybe you came across a lost or abandoned pet, go to the
        <a href='users/sign_up'> Sign Up </a> page to create an account
        and fill out the surrender form.
    </p>
    <p>
        If you are interested in finding an ideal furry match,
        see the
        <a href='pets/'> Adopt a Pet </a>
        section for a full list of pets. After choosing one contact directly with the owner for more information using a contact form.
        Find out who needs a home!
    </p>
{% endblock %}