<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <header>
        <section class="header-title-line">
            <h1>Pet Adoption/Surrender Application</h1>
            <button class="menu-button">
                <div class="menu-icon"></div>
            </button>
        </section>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href='/'> About Us </a></li>
                    <li><a href='{% url "pets:list" %}'> Adopt a Pet </a></li>
                    <li><a href='{% url "pets:new-pet" %}'> Surrender a Pet </a></li>
                    <li><a href="{% url 'users:user_pets_list' %}">Your Pets</a></li>
                    <li><a><form action='{% url "users:sign_out" %}' method="post">
                        {% csrf_token %}
                        <button class='logout-button' title='Sign out'>Sign out</button>
                    </form></a></li>
                    {% if user.is_superuser %}
                        <li><a href='{% url "pets:pets-approval-list" %}'>Waiting for approval</a></li>
                    {% endif %}
                {% else %}
                    <li><a href='/'> About Us </a></li>
                    <li><a href='{% url "pets:list" %}'> Adopt a Pet </a></li>
                    <li><a href='{% url "users:sign_in" %}'> Sign In </a></li>
                    <li><a href='{% url "users:sign_up" %}'> Sign Up </a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>