{% extends 'layout.html' %}

{% block title %}
    {{ pet.name }}
{% endblock  %}

{% block content %}
    <section>
        <h1> Hi, my name is {{ pet.name }} </h1>
        <img
             class='banner'
             src='{{ pet.banner.url }}'
             alt='{{ pet.name }}'
        />
<!--        <p>{{ pet.date }}</p>-->
        <h2>About me:</h2>
        <p>{{ pet.characteristics }}</p>
        <p>Health:</p>
        <p>{{ pet.overall_health }}</p>
        <p>Gender:</p>
        <p>{{ pet.gender }}</p>
        <p>Size:</p>
        <p>{{ pet.size }}</p>
        <p>Age:</p>
        <p>{{ pet.age }}</p>
    </section>
{% endblock %}