{% extends 'layout.html' %}

{% block title %}

{% endblock  %}

{% block content %}
    <section>
        <h3> Follwoing surrender forms are waiting to be approved </h3>
             {% for pet in pets_awaiting_list %}
                {% if not pet.approved and not pet.rejected %}
                    <article class="pets">
                        <h2>
                            <a href ='{% url "pets:pet-approval-page" slug=pet.slug %}'>
                            {{ pet.name }}
                            <img class='img-pet-list' src='{{ pet.banner.url }}' alt='{{ pet.name }}' />
                            </a>
                        </h2>
                        <p>{{ pet.date }} by {{ pet.owner }}</p>
                    </article>
                {% endif %}
            {% endfor %}
    </section>
{% endblock %}