{% extends 'layout.html' %}

{% block title %}
    Adopt a Pet
{% endblock  %}

{% block content %}
    <section>
    <h3>Adopt a Pet</h3>
    {% for pet in pets %}
        <article class="pets">
            <h2>
                <a href ='{% url "pets:page" slug=pet.slug %}'>
                    {{ pet.name }}
                    <img class='img-pet-list' src='{{ pet.banner.url }}' alt='{{ pet.name }}' />
                </a>
            </h2>
            <p>{{ pet.date }}</p>
            <p>{{ pet.name }} is a {{pet.size}} {{pet.gender}} dog at the age of  {{pet.age}}.</p>
            <p>{{ pet.characteristics }}</p>
        </article>
    {% endfor %}
    </section>
{% endblock %}